In [41]:
import pandas as pd

In [42]:
data = pd.read_parquet("../data/Zzzs_train.parquet")

In [43]:
data.head()

      series_id  step                 timestamp     anglez    enmo  awake
0  08db4255286f     0  2018-11-05T10:00:00-0400 -30.845301  0.0447      1
1  08db4255286f     1  2018-11-05T10:00:05-0400 -34.181801  0.0443      1
2  08db4255286f     2  2018-11-05T10:00:10-0400 -33.877102  0.0483      1
3  08db4255286f     3  2018-11-05T10:00:15-0400 -34.282101  0.0680      1
4  08db4255286f     4  2018-11-05T10:00:20-0400 -34.385799  0.0768      1

In [45]:
data["step"] = data["step"].astype(int)
data["anglez"] = data["anglez"].astype(float)
data["enmo"] = data["enmo"].astype(float)
data["awake"] = data["awake"].astype(bool)

In [46]:
data["series_id"].unique()

array(['08db4255286f', '0a96f4993bd7', '0cfc06c129cc', '1087d7b0ff2e',
       '10f8bc1f7b07', '18b61dd5aae8', '29c75c018220', '3452b878e596',
       '349c5562ee2c', '3664fe9233f9', '483d6545417f', '55a47ff9dc8a',
       '5acc9d63b5fd', '5f94bb3e1bed', '655f19eabf1e', '67f5fc60e494',
       '72bbd1ac3edf', '76237b9406d5', '7822ee8fe3ec', '89bd631d1769',
       '8e32047cbc1f', '939932f1822d', '9ee455e4770d', 'a9a2f7fac455',
       'a9e5f5314bcb', 'af91d9a50547', 'b364205aba43', 'c535634d7dcd',
       'c6788e579967', 'c68260cc9e8f', 'ca730dbf521d', 'd150801f3145',
       'd25e479ecbb7', 'd515236bdeec', 'd5e47b94477e'], dtype=object)

In [47]:
data.groupby("series_id")["step"].count().sort_values()[:3].index.values

array(['349c5562ee2c', 'c535634d7dcd', 'a9e5f5314bcb'], dtype=object)

In [48]:
less_series = data.groupby("series_id")["step"].count().sort_values()[:3].index.values

In [49]:
truncated_data = data[data["series_id"].isin(less_series)].reset_index()

In [50]:
truncated_data.groupby("series_id").count()

               index    step  timestamp  anglez    enmo   awake
series_id
349c5562ee2c   37080   37080      37080   37080   37080   37080
a9e5f5314bcb  155160  155160     155160  155160  155160  155160
c535634d7dcd  136080  136080     136080  136080  136080  136080

In [52]:
truncated_data.to_csv("../data/truncated_dataset.csv")

In [ ]:
# save truncated data